<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scs.dao.monitor.DAOmapper.TableContainerresourceusageMapper" >
  <resultMap id="BaseResultMap" type="scs.pojo.TableContainerresourceusage" >
    <id column="autoId" property="autoid" jdbcType="INTEGER" />
    <result column="containerName" property="containername" jdbcType="VARCHAR" />
    <result column="cpuUsageRate" property="cpuusagerate" jdbcType="REAL" />
    <result column="memUsageRate" property="memusagerate" jdbcType="REAL" />
    <result column="memUsageAmount" property="memusageamount" jdbcType="REAL" />
    <result column="netInput" property="netinput" jdbcType="REAL" />
    <result column="ioInput" property="ioinput" jdbcType="REAL" />
    <result column="ioOutput" property="iooutput" jdbcType="REAL" />
    <result column="netOutput" property="netoutput" jdbcType="REAL" />
    <result column="collectTime" property="collecttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    autoId, containerName, cpuUsageRate, memUsageRate, memUsageAmount, netInput, ioInput, 
    ioOutput, netOutput, collectTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="scs.pojo.TableContainerresourceusageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from table_containerresourceusage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from table_containerresourceusage
    where autoId = #{autoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from table_containerresourceusage
    where autoId = #{autoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="scs.pojo.TableContainerresourceusageExample" >
    delete from table_containerresourceusage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="scs.pojo.TableContainerresourceusage" >
    insert into table_containerresourceusage (autoId, containerName, cpuUsageRate, 
      memUsageRate, memUsageAmount, netInput, 
      ioInput, ioOutput, netOutput, 
      collectTime)
    values (#{autoid,jdbcType=INTEGER}, #{containername,jdbcType=VARCHAR}, #{cpuusagerate,jdbcType=REAL}, 
      #{memusagerate,jdbcType=REAL}, #{memusageamount,jdbcType=REAL}, #{netinput,jdbcType=REAL}, 
      #{ioinput,jdbcType=REAL}, #{iooutput,jdbcType=REAL}, #{netoutput,jdbcType=REAL}, 
      #{collecttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="scs.pojo.TableContainerresourceusage" >
    insert into table_containerresourceusage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="autoid != null" >
        autoId,
      </if>
      <if test="containername != null" >
        containerName,
      </if>
      <if test="cpuusagerate != null" >
        cpuUsageRate,
      </if>
      <if test="memusagerate != null" >
        memUsageRate,
      </if>
      <if test="memusageamount != null" >
        memUsageAmount,
      </if>
      <if test="netinput != null" >
        netInput,
      </if>
      <if test="ioinput != null" >
        ioInput,
      </if>
      <if test="iooutput != null" >
        ioOutput,
      </if>
      <if test="netoutput != null" >
        netOutput,
      </if>
      <if test="collecttime != null" >
        collectTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="autoid != null" >
        #{autoid,jdbcType=INTEGER},
      </if>
      <if test="containername != null" >
        #{containername,jdbcType=VARCHAR},
      </if>
      <if test="cpuusagerate != null" >
        #{cpuusagerate,jdbcType=REAL},
      </if>
      <if test="memusagerate != null" >
        #{memusagerate,jdbcType=REAL},
      </if>
      <if test="memusageamount != null" >
        #{memusageamount,jdbcType=REAL},
      </if>
      <if test="netinput != null" >
        #{netinput,jdbcType=REAL},
      </if>
      <if test="ioinput != null" >
        #{ioinput,jdbcType=REAL},
      </if>
      <if test="iooutput != null" >
        #{iooutput,jdbcType=REAL},
      </if>
      <if test="netoutput != null" >
        #{netoutput,jdbcType=REAL},
      </if>
      <if test="collecttime != null" >
        #{collecttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="scs.pojo.TableContainerresourceusageExample" resultType="java.lang.Integer" >
    select count(*) from table_containerresourceusage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update table_containerresourceusage
    <set >
      <if test="record.autoid != null" >
        autoId = #{record.autoid,jdbcType=INTEGER},
      </if>
      <if test="record.containername != null" >
        containerName = #{record.containername,jdbcType=VARCHAR},
      </if>
      <if test="record.cpuusagerate != null" >
        cpuUsageRate = #{record.cpuusagerate,jdbcType=REAL},
      </if>
      <if test="record.memusagerate != null" >
        memUsageRate = #{record.memusagerate,jdbcType=REAL},
      </if>
      <if test="record.memusageamount != null" >
        memUsageAmount = #{record.memusageamount,jdbcType=REAL},
      </if>
      <if test="record.netinput != null" >
        netInput = #{record.netinput,jdbcType=REAL},
      </if>
      <if test="record.ioinput != null" >
        ioInput = #{record.ioinput,jdbcType=REAL},
      </if>
      <if test="record.iooutput != null" >
        ioOutput = #{record.iooutput,jdbcType=REAL},
      </if>
      <if test="record.netoutput != null" >
        netOutput = #{record.netoutput,jdbcType=REAL},
      </if>
      <if test="record.collecttime != null" >
        collectTime = #{record.collecttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update table_containerresourceusage
    set autoId = #{record.autoid,jdbcType=INTEGER},
      containerName = #{record.containername,jdbcType=VARCHAR},
      cpuUsageRate = #{record.cpuusagerate,jdbcType=REAL},
      memUsageRate = #{record.memusagerate,jdbcType=REAL},
      memUsageAmount = #{record.memusageamount,jdbcType=REAL},
      netInput = #{record.netinput,jdbcType=REAL},
      ioInput = #{record.ioinput,jdbcType=REAL},
      ioOutput = #{record.iooutput,jdbcType=REAL},
      netOutput = #{record.netoutput,jdbcType=REAL},
      collectTime = #{record.collecttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="scs.pojo.TableContainerresourceusage" >
    update table_containerresourceusage
    <set >
      <if test="containername != null" >
        containerName = #{containername,jdbcType=VARCHAR},
      </if>
      <if test="cpuusagerate != null" >
        cpuUsageRate = #{cpuusagerate,jdbcType=REAL},
      </if>
      <if test="memusagerate != null" >
        memUsageRate = #{memusagerate,jdbcType=REAL},
      </if>
      <if test="memusageamount != null" >
        memUsageAmount = #{memusageamount,jdbcType=REAL},
      </if>
      <if test="netinput != null" >
        netInput = #{netinput,jdbcType=REAL},
      </if>
      <if test="ioinput != null" >
        ioInput = #{ioinput,jdbcType=REAL},
      </if>
      <if test="iooutput != null" >
        ioOutput = #{iooutput,jdbcType=REAL},
      </if>
      <if test="netoutput != null" >
        netOutput = #{netoutput,jdbcType=REAL},
      </if>
      <if test="collecttime != null" >
        collectTime = #{collecttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where autoId = #{autoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scs.pojo.TableContainerresourceusage" >
    update table_containerresourceusage
    set containerName = #{containername,jdbcType=VARCHAR},
      cpuUsageRate = #{cpuusagerate,jdbcType=REAL},
      memUsageRate = #{memusagerate,jdbcType=REAL},
      memUsageAmount = #{memusageamount,jdbcType=REAL},
      netInput = #{netinput,jdbcType=REAL},
      ioInput = #{ioinput,jdbcType=REAL},
      ioOutput = #{iooutput,jdbcType=REAL},
      netOutput = #{netoutput,jdbcType=REAL},
      collectTime = #{collecttime,jdbcType=TIMESTAMP}
    where autoId = #{autoid,jdbcType=INTEGER}
  </update>
</mapper>